node-red/kitchenpal-expired-items.json
[
  {
    "id": "kitchenpal_inject_expired",
    "type": "inject",
    "name": "Trigger",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 200,
    "wires": [["kitchenpal_get_entities_expired"]]
  },
  {
    "id": "kitchenpal_get_entities_expired",
    "type": "ha-get-entities",
    "name": "Get KitchenPal Binary Sensors",
    "server": "YOUR_HA_SERVER_ID",
    "version": 1,
    "rules": [
      {
        "condition": "state_object",
        "property": "entity_id",
        "logic": "starts_with",
        "value": "binary_sensor.kitchenpal_integration_",
        "valueType": "str"
      }
    ],
    "outputType": "array",
    "outputEmptyResults": false,
    "outputLocationType": "msg",
    "outputLocation": "payload",
    "outputResultsCount": 1,
    "x": 420,
    "y": 200,
    "wires": [["kitchenpal_filter_expired"]]
  },
  {
    "id": "kitchenpal_filter_expired",
    "type": "function",
    "name": "Get Expired Items",
    "func": "// Filter only expired items (state = \"on\")\nconst expired = msg.payload.filter(e => e.state === \"on\");\n\n// Map to clean output\nmsg.payload = expired.map(e => ({\n    name: e.attributes.item_name,\n    days_expired: Math.abs(e.attributes.days_until_expiry),\n    storage: e.attributes.storage,\n    category: e.attributes.category,\n    barcode: e.attributes.barcode,\n}));\n\nmsg.topic = `Found ${msg.payload.length} expired item(s)`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 200,
    "wires": [["kitchenpal_debug_expired"]]
  },
  {
    "id": "kitchenpal_debug_expired",
    "type": "debug",
    "name": "Expired Items",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 200,
    "wires": []
  }
]
