node-red/kitchenpal-expiring-soon.json
[
  {
    "id": "kitchenpal_inject_soon",
    "type": "inject",
    "name": "Trigger",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 200,
    "wires": [["kitchenpal_get_entities_soon"]]
  },
  {
    "id": "kitchenpal_get_entities_soon",
    "type": "ha-get-entities",
    "name": "Get KitchenPal Binary Sensors",
    "server": "YOUR_HA_SERVER_ID",
    "version": 1,
    "rules": [
      {
        "condition": "state_object",
        "property": "entity_id",
        "logic": "starts_with",
        "value": "binary_sensor.kitchenpal_integration_",
        "valueType": "str"
      }
    ],
    "outputType": "array",
    "outputEmptyResults": false,
    "outputLocationType": "msg",
    "outputLocation": "payload",
    "outputResultsCount": 1,
    "x": 420,
    "y": 200,
    "wires": [["kitchenpal_filter_soon"]]
  },
  {
    "id": "kitchenpal_filter_soon",
    "type": "function",
    "name": "Get Items Expiring Within 3 Days",
    "func": "// Filter items expiring within the next 3 days (but not yet expired)\nconst expiringSoon = msg.payload.filter(e => {\n    const days = e.attributes.days_until_expiry;\n    return days !== null && days >= 0 && days <= 3;\n});\n\n// Map to clean output\nmsg.payload = expiringSoon.map(e => ({\n    name: e.attributes.item_name,\n    days_left: e.attributes.days_until_expiry,\n    storage: e.attributes.storage,\n    category: e.attributes.category,\n    barcode: e.attributes.barcode,\n}));\n\nmsg.topic = `Found ${msg.payload.length} item(s) expiring within 3 days`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 200,
    "wires": [["kitchenpal_debug_soon"]]
  },
  {
    "id": "kitchenpal_debug_soon",
    "type": "debug",
    "name": "Expiring Soon",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 200,
    "wires": []
  }
]
